.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40vh;
  border: 2px solid gray;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1.2rem;
  background-color: rgb(15, 35, 90);
}
